<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="layout/page-layout.html :: view-head"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/background.css}">
</head>
<body>
<th:block th:replace="layout/page-layout.html ::  page-header(page='')"/>
<div class="container-fluid text-center">
<div th:each="image: ${images}">
    <img th:src="@{'data:image/jpeg;base64,' + ${image.data}}">

</div>
</div>
<th:block th:replace="layout/page-layout.html :: page-footer"/>
</body>
</html>