<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="layout/page-layout.html :: view-head"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/background.css}">
</head>
<body>
<th:block th:replace="layout/page-layout.html :: page-header(page='user')"/>
<div class="container-fluid text-center">



  <p th:if="${errMessage != null}" class="alert alert-danger">
    [[${errMessage}]]
  </p>
  <p th:if="${successMessage != null}"class="alert alert-success">
    [[${successMessage}]]
  </p>

  <div class="m-2"></div>
  <div class="col-sm-8 text-center container-fluid ">
    <table class="table table table-striped">
      <thead class="table-dark">
      <tr>
        <th colspan="3">
          <h1 class="display-3">Список диспетчеров</h1>
        </th>
      </tr>
      <tr>
        <th>ID</th>
        <th>ФИО</th>
        <th>Удалить/изменить</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user: ${users}">
        <td>
          [[${user.id}]]
        </td>
        <td>
          <a th:href="@{'/user/' + ${user.id}}">[[${user.name}]]</a>
        </td>
        <td>
          <a th:href="@{'/user/delete/' + ${user.id}}" class="btn btn-danger">
            Удалить
          </a>
          <a th:href="@{'/user/update/' + ${user.id}}" class="btn btn-primary">
            Редактировать
          </a>
        </td>
      </tr>
      <tr th:if="${users == null}">
        <td colspan="3">Не записей</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
<th:block th:replace="layout/page-layout.html :: page-footer"/>

</body>
</html>