<!DOCTYPE html>
<html lang="en">
<head>
  <th:block th:replace="layout/page-layout.html :: view-head"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/background.css}">
</head>
<body>
<th:block th:replace="layout/page-layout.html :: page-header(page='car')"/>
<div class="container-fluid text-center col-sm-10">
  <h1 class="display-3">Редактировать автомобиль [[${car.name}]]</h1>
  <form method="post" th:action="@{'/car/update/' + ${car.id}}" th:object="${car}">

    <div class="d-flex">
      <label class="col-sm-1 col-form-label" for="name">Марка автомобиля:</label>
      <div class="col-sm-8">
        <input class="form-control m-2" type="text" id="name" th:field="*{name}" required minlength="1">
      </div>
    </div>
    <div class="d-flex">
      <label class="col-sm-1 col-form-label" for="clr">Цвет:</label>
      <div class="col-sm-8">
        <input class="form-control m-2 mb-4" type="text" id="clr" th:field="*{color}" required minlength="1">
      </div>
    </div>
    <div class="d-flex">
      <label class="col-sm-1 col-form-label" for="number">Номер автомобиля:</label>
      <div class="col-sm-8">
        <input class="form-control m-2 mb-4" type="text" id="number" th:field="*{registrationPlate}" required minlength="1">
      </div>
    </div>

    <div class="mb-3 row d-flex">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
        <button class="btn btn-success form-control">Изменить</button>
      </div>
      <div class="col-sm-4">
        <a th:href="@{/car}" class="btn btn-danger form-control">Отменить</a>
      </div>
    </div>

  </form>

</div>
<th:block th:replace="layout/page-layout.html :: page-footer"/>
</body>
</html>