<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="layout/page-layout.html :: view-head"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/background.css}">
</head>
<body>
<th:block th:replace="layout/page-layout.html :: page-header(page='car')"/>
<div class="card">
    <div class="card-header">
        Детали автомобиля
    </div>
    <div th:if="${car != null}" class="card-body">
        <h5 class="card-title">[[${car.name}]]</h5>
        <p class="card-text">id: [[${car.id}]].</p>
        <p class="card-text">Цвет: [[${car.color}]].</p>
        <p class="card-text">Регистрационный номер[[${car.registrationPlate}]].</p>
        <a th:href="@{/car}" class="btn btn-primary">К списку автомобилей</a>
    </div>
    <div th:if="${car == null}" class="card-body">
        <h5 class="card-title">Машина отсутсвует</h5>
        <a th:href="@{/car}" class="btn btn-primary">К списку автомобилей</a>
    </div>
</div>
<th:block th:replace="layout/page-layout.html :: page-footer"/>
</body>
</html>